/* Общие стили для всей страницы */
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

/* Стили для заголовков */
h1, h2 {
    color: white; /* Белый цвет для заголовков */
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

/* Стили для навигации */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: darkgrey;
    margin: 0;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: gray;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #333; /* Тёмно-серый фон */
    color: white; /* Белый текст */
}

table th, table td {
    border: 1px solid #555; /* Границы ячеек */
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #222; /* Чёрный фон для заголовков */
    color: white;
}

/* Стили для формы */
form {
    background-color: #444; /* Серый фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #555; /* Тёмный фон для полей ввода */
    color: white; /* Белый текст */
}

form button {
    background-color: #1abc9c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #16a085;
}

/* Стили для футера */
footer {
    text-align: center;
    padding: 20px;
    background-color: #34495e;
    color: white;
    margin-top: 20px;
}